<!doctype html>
<html>
<head>
    <title>Barista App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h1><img src="img/coffee-log.png" alt=""></h1>
   <section class = "login-container">
    <span>Sign In</span>
    <a href="/login" class="btn btn-default"></span>Login</a>
    <a href="/signup" class="btn btn-default"></span>Signup</a>
  </section>
<section class="container">

    <section class="jumbotron text-center">
      
        <h2>Cashier #000000</h2>
        
       
        <h2 id="orderMessage"></h2>
        <%/* if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>
      </section>
      <% } */%>

        <form action="/vieworders" method="POST" id="order">         
            <input name="name" id="customerName" type="text" placeholder="Name">
            <input name="order" id="customerOrder" type="text" placeholder="Order Items">
            <button id="placeOrder" class="btn">Place Order</button>
        </form>    
        <!-- <img src="img/coffee.jpeg" alt="Barista App Photo"> -->

       
        
        

    <script src="main2.js"></script>
  </section>
</body>
</html>
